@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Edu+QLD+Hand:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}


/* Top area */

.top-area{
    display: flex;
    height: 36px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jordan-logo{
    width: 20px;
    height: 20px;
    margin-left: 50px;
    cursor: pointer;
}

.nav-top a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    /* margin-right:  ; */
}

.nav-top{
    display: flex;
    /* margin-right: 30px; */
}


.nav-container1{
    margin-right: 60px;
}

.nav-top a:hover{
    color: #807d7d;
}

@media screen and (max-width:960px) {
    .top-area{
        display: none;
    }
}

/* navbar */
.header-container{
    height: 55px;
    width: 100%;
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: sticky; */
    /* top: 0; */
}

.nike-logo{
    margin-left: 30px;
    height: 70px;
    cursor: pointer;
}

.nav-container2{
    margin-left: 320px;
}

.nav-bar a{
     text-decoration: none;
     color: black;
     font-family: "Roboto", sans-serif;
     font-size: 18px;
     font-weight: 400;
     margin-right: 20px;
     padding-bottom: 5px;
}

.nav-bar a:hover{
    border-bottom: 2px solid black;
}

.search-bar-container{
    display: flex;
    align-items: center;
    position: relative;
    min-width: 150px;
    width: 10%;
    margin-left: 50px;
}

.search-icon{
    height: 33px;
    width: 33px;
    background-color: #F5F5F5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    /* color: black; */
    border: none;
}

.search-icon:hover{
    background-color: #cfcdcd;
}

.search-logo{
 color: black;
}

.search-bar{
    height: 33px;
    width: 160px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 20px;
    padding-left: 50px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
}

.search-bar:hover{
    background-color:  #eae8e8;
}

@media screen and (max-width: 1280px) {
    .search-bar-container{
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .nav-container2{
        display: none;
    }
    .nav-bar{
        display: none;
    }
    .nav-bar a{
        display: none;
    }
}

 @media screen and (min-width:1280px) {
    .magni .ma-icon{
        display: none;
    }
    .magni{
        display: none;
    }
 }

 @media screen and (min-width: 960px) {
    .human{
        display: none;
    }
    .hamburger-menu{
        display: none;
    }
 }

 @media screen and (max-width: 960px) {
    .human{
        height: 33px;
        width: 33px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

    }

    .hamburger-menu{
        height: 33px;
        width: 33px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-left: 5px;
    }
    .human:hover{
        background-color: #cfcdcd;
    }
     .hamburger-menu:hover{
        background-color: #cfcdcd;
     }   

}

 @media screen and (max-width:1280px) {
    .magni{
        height: 33px;
        width: 33px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-right: 5px;
    }
    .magni:hover{
        background-color: #cfcdcd;
    }
 }


@media screen and (max-width: 1280px) {
    .header-container{
        all: unset;
        height: 55px;
        width: 100%;
        background-color: #ffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nike-logo{
       all: unset;
       height: 70px;
       margin-left: 30px;
       cursor: pointer;
       
    }
    .nav-container2{
        all: unset;
    }
    .nav-bar{
        all: unset;
    }
    .search-bar-container{
       all: unset;
       display: none;
    }
    .search-icon{
        all: unset;
    }
    .search-logo{
        all: unset;
    }
    .search-bar{
        all: unset;
    }
    .action-bar{
        all: unset;
    }
    .search{
        all: unset;
    }
    .heart{
        all: unset;
    }
    .shop{
        all: unset;
    }
}

.action-bar{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.heart{
  cursor: pointer;
  height: 33px;
  width: 33px;
  background-color: #ffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 960px) {
    .heart{
        display: none;
    }
    .heart .material-symbols-outlined{
        display: none;
    }
}


.shop{
    cursor: pointer;
    margin-left: 5px;
    height: 33px;
    width: 33px;
    background-color: #ffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart:hover{
  background-color: #cfcdcd;
}

.shop:hover{
    background-color: #cfcdcd;
}


/* Main area of the web application */
.sale-top{
    height: 80px;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sale-updates{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.sale-link{
    text-decoration: underline;
    font-size: 12px;
    font-weight: 600;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}


/* banner image section style */
.banner-container{
   margin: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.banner-image{
    width: 100%;
    cursor: pointer;
    
}

@media screen and (max-width: 960px) {
    .banner-container{
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    }
    .banner-image{
        all: unset;
        width: 100%;
        cursor: pointer;
    }
}

/* main text on the home page of the web application */

.main-heading-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 80px;
}
.text1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.text2{
   font-family: "Anton SC", sans-serif;
   font-size: 5em;
   max-height: 5em;
   font-weight: 500;
   cursor: pointer;
   letter-spacing:  .08em;
}

@media screen and (max-width: 1045px) {
    .text2{
        all: unset;
        font-family: "Anton SC", sans-serif;
        cursor: pointer;
        font-size: 3em;
        font-weight: 500;
        letter-spacing:  .04em;
        max-height: 5em;
    }
}

@media screen and (max-width: 560px) {
    .text2{
        all: unset;
        font-family: "Anton SC", sans-serif;
        cursor: pointer;
        font-size: 1.8em;
        font-weight: 500;
        letter-spacing:  .04em;
        max-height: 5em;
    }
    .text3{
        all: unset;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;

    }
    .text4{
        all: unset;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
    }
}

.text3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;

}
.text4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.button1{
    height: 40px;
    width: 80px;
    background-color: black;
    color: #ffffff;
    border-radius: 20px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    margin-top: 30px;
    cursor: pointer;

}
.button1:hover{
    background-color: rgba(0, 0, 0, 0.455);
}

/*  */

.section1-heading{
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-bottom: 20px;
}


.latest-inner-container{
    display: flex;
    flex-wrap: wrap; 
    /* gap: 10px; */
}

.latest-image1{
  flex: 1 1 45%; 
  min-width: 300px; 
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 8px;
}


.latest-image2{
  flex: 1 1 45%; 
  min-width: 300px;
  padding: 15px; 
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 8px;
}


.section2-heading{
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.featured-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 10px;
    justify-content: space-between;
}
.featured-image{
    width: calc(25% - 12px);  /* 4 per row with space for gap */
    max-width: 100%;
    height: auto;
    display: block;
    /* border-radius: 8px; */
    cursor: pointer;
    object-fit: cover;
}


@media (max-width: 900px) {
    .featured-image {
      width: calc(50% - 12px);
    }
  }
  @media (max-width: 500px) {
    .featured-image {
      width: 100%;
    }
  }



  /* section-3 */
.section3-heading{
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.dont-miss-container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.miss1{
    flex: 1 1 45%; 
    min-width: 300px; 
    padding: 20px 0px 20px 20px;
    box-sizing: border-box;
    cursor: pointer;
    /* border-radius: 8px; */
}

.miss2{
    flex: 1 1 45%; 
    min-width: 300px; 
    padding: 20px 20px 20px 0px;
    box-sizing: border-box;
    cursor: pointer;
    /* border-radius: 8px; */
}

@media screen and (max-width: 615px) {
    .miss2{
        display: none;
    }
}

@media screen and (max-width: 615px) {
    .miss1{
        padding: 20px 20px 20px 20px;
    }
}

.section4-heading{
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.shop-by-icon-container{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 16px; /* spacing between images */
    padding: 20px;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 70px;
}

.shop-image{
  flex: 0 0 auto; /* prevents shrinking and makes images stay in row */
  width: 400px; 
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}

.section5-heading{
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.shop-by-sports{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 16px; /* spacing between images */
    padding: 20px;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 120px;
}

.sports-image{
    flex: 0 0 auto;
    width: 400px; 
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
}

.line{
    color: #d7d4d4;
    margin: 0px 50px 0px 50px;
}

.footer-container{
    /* background-color: #F5F5F5; */
    padding-bottom: 100px;
}


.flex-column{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}

.footer{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column; 
    
}

.footer-header{
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    margin-top: 50px;
}


.footer a{
    color: #807d7d;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /* padding-bottom: 2px; */
    margin-bottom: 10px;
    /* box-sizing: border-box; */
}

.footer a:hover{
    color: #322f2f;
/* border-bottom: 2px solid black; */
/* box-sizing: border-box; */
}

.india{
    margin-top: 100px;
    color: #807d7d;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

.language-logo{
    color: #807d7d;
}

@media screen and (max-width: 800px) {
    .india{
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .flex-column{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer{
        justify-content: center;
        align-items: center;
    }
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px
}

.copyright-text{
   color: #575757;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
}

.india-guide{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #807d7d;
    margin-bottom: 50px;
}

@media screen and (min-width: 800px) {
    .india-guide{
        display: none;
    }
}